// Functions
@import "~bootstrap/scss/functions";

// Variables
@import "semantic";
@import "variables-bootstrap";
@import "variables";


// Bootstrap
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/tooltip";
@import "../lib/font-awesome/scss/light";
@import "../lib/font-awesome/scss/regular";
@import "../lib/font-awesome/scss/solid";
@import "../lib/font-awesome/scss/brands";
@import "../lib/font-awesome/scss/fontawesome";
@import '~card-react/lib/card';
@import "~@progress/kendo-theme-default/scss/button/_index.scss";
@import "~@progress/kendo-theme-default/scss/grid/_index.scss";

// Application
@import "shared/all";
@import "components/all";
@import "layouts/all";
@import "scenes/all";