.nav-tabs {
  .nav-item {
    width: 50%;
    cursor: pointer;
    .nav-link {
      text-align: center;
      border: none;
      border-bottom: 1px solid $info;
      &.active {
        background-color: $info;
      }
      .payments {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
          @include media-breakpoint-down('sm') {
            width: 24px;
            height: 24px;
          }
        }
      }
      .payment {
        display: flex;
        justify-content: center;
        img {
          width: 120px;
          @include media-breakpoint-down('sm') {
            width: 76px;
          }
        }
      }
    }
  }
}
.tab-content {
  padding: 0 15px;
}